.collection-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 30rem;
  align-items: center;
  position: relative;
  ;

  .image {
    width: 100%;
    height: 85%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: .8rem;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    } 
  }
  .add-to-cart {
    width: auto;
    height: 2em;
    line-height: 0em;
    background-color: white;
    color: rgb(142, 168, 224);
    border: .1rem solid rgb(142, 168, 224);
    font-size: 1rem;
    border-radius: 2rem;
    padding: 1rem 1.75rem;
    text-align: center;
    cursor: pointer;
    

    &:hover{
        background-color: rgb(142, 168, 224);
        color: white;
    }
}
}

  