.header {
    height: 10rem;
    width: 100%;

   
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 100vw;
      display: flex;
      justify-content: center;
    }
  
    .options {
      height: 50%;
      display: flex;
      justify-content: center;
  
      .option {
        padding: 10px 15px;
      }
    }
  }